.chromatic-gallery {
  position: relative;
  margin: 0;
  padding: 4px;
  overflow-y: scroll;
}
.chromatic-gallery-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px;
}
.chromatic-gallery-photo {
  float: left;
  margin: 4px;
  background-size: cover;
  border:1px solid black;
}
.chromatic-gallery-photo:after, .chromatic-gallery-photo:before{
  position: absolute;
  opacity: 0;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
}

.chromatic-gallery-photo:after{
  content: '\A';
  width: inherit;
  height: inherit;
  background: rgba(0,0,0,0.3);
}
.chromatic-gallery-photo:before{
  content:attr(data-content);
  color:#ffffff;
  z-index:1;
  text-align: center;
  width:inherit;
  word-wrap:break-word;
  padding-top:20px;
}

.chromatic-gallery-photo:hover:after,.chromatic-gallery-photo:hover:before {
  opacity:1;

}

.chromatic-gallery-photo:hover .chromatic-desc{
    display: block;
}


.chromatic-zoom {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
}
.chromatic-zoom div * {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -moz-perspective: 1000;
}
.chromatic-zoom-arrow-left, .chromatic-zoom-arrow-right {
  position: absolute;
  width: 28px;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 1;
}
.chromatic-zoom-arrow-left {
  margin-left: 30px;
  background-image: url("../images/previousPhoto.png");
  height:28px;
  bottom:34px;
}
.chromatic-zoom-arrow-right {
  margin-left:92px;
  height:28px;
  bottom:34px;
  background-image: url("../images/nextPhoto.png");
}
.chromatic-zoom-photo-grid {
  margin-left:60px;
  height:27px;
  bottom:34px;
  background-image: url("../images/gotoGridview.png");
  width:28px;
  position: absolute;
  z-index:1;
}
.chromatic-zoom-photo {
  position: absolute;
  background-color: black;
  background-size: 100% 100%;
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
}
.chromatic-zoom-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1A1A1A;
  background-size: 100% 100%;
  z-index: -2;
}
.chromatic-zoom-background-blur {
  -webkit-filter: blur(100px);
}
.chromatic-zoom-grain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   z-index: -1;
}
.chromatic-desc{
  text-align: center;
  color:white;
  word-wrap:break-word;
  display:none;
}
